@import 'reset.scss';

.wrap {
  margin: 10px auto 0;
  max-width: 1076px;
}
.wrap-side {
  width: 100%;
}
.wrap-side {
  float: left;
}
.wrap-side--left {
  max-width: 115px;
  padding-right: 15px;
}
.wrap-side--right {
  max-width: 936px;
}

.nav {
  background: #330067;
  display: flex;
  flex-flow: row wrap;
  padding-left: 15px;
}
.nav-item {
  flex: 1 auto;
}
.nav-item:nth-child(1) {
  flex-basis: 50%;
}