@import url(reset.css);
html, body {
  width: 100%;
  background: #FFF;
  font-family: helvetica, arial, sans-serif;
}

#wrap {
  width: 700px;
  margin: 0 auto 0;
}

#back {
  width: 700px;
  height: 525px;
  background: url(img/back.gif) no-repeat;
  margin-top: 50px;
}

a {
  height: 421px;
  display: block;
  float: left;
  margin-top: 104px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#illustration {
  width: 353px;
}

#illustration span {
  width: 42px;
  height: 39px;
  background: url(img/leftBoxOn.gif) no-repeat;
  position: absolute;
  top: 161px;
  left: 159px;
  display: none;
}

#comix {
  width: 347px;
}

#comix span {
  width: 134px;
  height: 125px;
  background: url(img/rightBox2.png) no-repeat;
  background-position-x: 33px;
  background-position-y: -25px;
  position: absolute;
  top: 133px;
  right: 127px;
  overflow: hidden;
}