.Nav {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
  border-bottom: 1px solid #000;
  justify-content: space-between;
  padding: .5rem;
  overflow: scroll;
}

.NavItem {
  display: flex;
  justify-content: center;
  min-width: 150px;
}
.NavItem:not(:first-child) {
  border-left: 1px solid #000;
}